---
Checks: '*,
-fuchsia-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-macro-usage,
-llvm-header-guard,
-google-runtime-references,
-misc-non-private-member-variables-in-classes,
-modernize-use-trailing-return-type,
-readability-avoid-const-params-in-decls,
-readability-convert-member-functions-to-static,
-readability-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
...
