# With the move to cmake, many of these could be removed, but lets leave them in

# The build directory and everything it contains
**/[Bb]uild

# Certain tools work better if the compilation database is in the project root
# but we don't want to track it
compile_commands.json

# Output files from the various charts that can be created
# Together with possible coversions
*.svg
*.jpg
*.eps
*.png
*.pdf
*.tex
*.aux
*.log

# Keep files in the images folder
!images/*

# Option files
*.in
# We want the version config file, but not the file it creates
!include/inch/version.hpp.in
include/inch/version.hpp
# We want the doxygen config file
!docs/Doxyfile.in

# emacs related files
*~
**/.ccls-cache
*.tmp

# Files created by the Makefile
**/bin
**/obj
*.o

# Catch all
callgrind.out.*
TAGS
core*
*.swp
**/.clangd
