version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

jobs:
  build_gcc_debug:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: "Install required packages"
          command: sudo apt update && sudo apt install -y git cmake lcov gcc g++ gcc-8 g++-8
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run:
          name: "Configure GCC debug build"
          command: cmake -H. -B../Debug-build -DINCH_UNIT_TESTS=ON -DINCH_CODE_COVERAGE=ON -DCOVERAGE_COMMAND=/usr/bin/gcov-8 -DCMAKE_CXX_COMPILER=/usr/bin/g++-8 -DCMAKE_BUILD_TYPE=Debug
      - run:
          name: "Build the binary"
          command: cmake --build ../Debug-build
      - run:
          name: "Run the tests"
          command: cd ../Debug-build && ctest -j2 -V
      - run:
          name: "Generate code coverage metrics"
          command: |
            cd ../Debug-build
            lcov --directory . --capture --gcov-tool /usr/bin/gcov-8 --output-file coverage.info
            lcov --remove coverage.info '/usr/*' '*/tests/*' '*/external/*' --output-file coverage.info
            lcov --list coverage.info
            # Started using the codecov orb for upload
            # No idea why this doesn't upload correctly to codecov.io, leaving it in for ... reasons
            # bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"
      - codecov/upload:
          # A new step puts us into the repo folder
          file: ../Debug-build/coverage.info
          conf: codecov.yml

  build_gcc_release:
    docker:
      - image: cimg/base:stable
    steps:
      - run: sudo apt update && sudo apt install -y git cmake ninja-build gcc g++ gcc-8 g++-8
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run: cmake -GNinja -H. -B../Release-build -DINCH_UNIT_TESTS=ON -DCMAKE_CXX_COMPILER=/usr/bin/g++-8 -DCMAKE_BUILD_TYPE=Release
      - run: cmake --build ../Release-build
      - run: cd ../Release-build && ctest -j2 -V

  build_clang_debug:
    docker:
      - image: cimg/base:stable
    steps:
      - run: sudo apt update && sudo apt install -y git cmake ninja-build clang clang-8 libstdc++-8-dev
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run: cmake -GNinja -H. -B../Debug-build -DINCH_UNIT_TESTS=ON -DCMAKE_CXX_COMPILER=/usr/bin/clang++-8 -DCMAKE_BUILD_TYPE=Debug
      - run: cmake --build ../Debug-build
      - run: cd ../Debug-build && ctest -j2 -V

  build_clang_release:
    docker:
      - image: cimg/base:stable
    steps:
      - run: sudo apt update && sudo apt install -y git cmake ninja-build clang clang-8 libstdc++-8-dev
      - checkout
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - run: cmake -GNinja -H. -B../Release-build -DINCH_UNIT_TESTS=ON -DCMAKE_CXX_COMPILER=/usr/bin/clang++-8 -DCMAKE_BUILD_TYPE=Release
      - run: cmake --build ../Release-build
      - run: cd ../Release-build && ctest -j2 -V

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - build_gcc_debug
      - build_gcc_release
      - build_clang_debug
      - build_clang_release
